@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');



body {
    font-family: 'Open Sans', sans-serif;

}


#checkout-section{
    padding: 2% 8%;
    box-sizing: border-box;
}

.section-title{
    font-size: 36px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 48px;
}

.checout-countent-wrapper{
    display: flex;
    justify-content: start;
}

.card-list{
    width: 50%;
}

.right-section{
    width: 50%;
    height: fit-content;
    margin-top: 48px;
    margin-left: 3%;
    box-sizing: border-box;
    box-shadow: 0 2px 5px #ccc;
    border-radius: 5px;
    padding: 16px;
}

.card-list > h3{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    margin: 0;
    margin-bottom: 16px;
}

.checkout-item-card{
    display: flex;
    box-sizing: border-box;
    box-shadow: 0 2px 5px #ccc;
    border-radius: 5px;
    background-color: white;
    max-width: 600px;
    padding: 16px;
    margin-bottom: 16px;
}

.checkout-card-img > img{
    width: 80px;
    min-width: 80px;
    border-radius: 5px;
    margin-right: 16px;
}

.checkout-card-details > h4{
    font-weight: 600;
    margin: 0;
    margin-bottom: 4px;
    font-size: 18px;
}

.checkout-card-details > p{
    margin: 0;
    margin-top: 4px;
    margin-bottom: 4px;
}

.right-section > h3{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    margin: 0;
    margin-bottom: 16px;
}

#total-amount{
    color: black;
    opacity: 0.8;
    font-size: 24px;
    font-weight: 800;
    margin-left: 4px;
}

#place-order-button{
    background-color: #009688;
    font-size: 18px;
    border: 0;
    cursor: pointer;
    outline: none;
    padding: 18px 36px;
    border-radius: 6px;
    margin-top: 36px;
    font-weight: 600;
    color: white;
}

@media screen and (max-width: 500px){
    .checout-countent-wrapper{
        flex-direction: column;
    }

    .card-list, .right-section{
        width: 100%;
        margin-left: 0;
    }

    .section-title {
        margin-bottom: 20px;
    }

    #place-order-button {
        font-size: 16px;
        padding: 10px 15px;
    }
}

@media screen and (max-width: 300px){
    .checkout-item-card{
        flex-direction: column;
    }

    .checkout-card-img > img{
        width: 100%;
    }
}

@media screen and (max-width: 200px){
    #place-order-button{
        padding: 10px;
        font-size: 14px;
    }

    
    .section-title {
        font-size: 26px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    main{
        margin-top: 60px;
    }

    .card-list > h3 {
        font-size: 14px;
    }

    .checkout-card-details > h4 {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .checkout-card-details > p {
        margin-top: 10px;
        font-size: 14px;
    }

    .right-
    section > h3 {
        font-size: 16px;
    }
    
    .right-section > p {
        font-size: 16px;
    }

    #total-amount {
        font-size: 20px;
    }
    
}